html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*
  font-family: "Comic Sans MS", cursive, sans-serif;
  */
  font-family: arial, helvetica, geneva, sans-serif;
}

body,
#container,
#main,
#navigation,
#content {
  background: #f5f5f5;
}

#content {
  background: no-repeat;
  background-image: url('../images/lua-freeswitch-logo.png');
  background-position: right top;
  background-origin: content-box;
}

#content h1 {
  margin-top: 20px;
}

#navigation h1 {
  font-size: 2.9em;
  min-height: 50px;
  margin-right: 10px;
  background: no-repeat;
  background-image: url('../images/jester-logo.png');
  background-position: right top;
  background-origin: content-box;
}

#navigation h2 {
  background: #cccccc;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
#content {
  height: 100%;
}
#about {
  display: none;
}
table.module_list td.name,
table.module_list td.summary,
table.function_list td.name,
table.function_list td.summary {
  background: #dedede;
  border-color: gray;
}
a:link, a:visited {
  color: #133B6B;
}
